html {
    font-family: "Days One", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    width: 100%;
    max-width: 100%;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav,
footer,
main {
    width: 87.5%;
}

nav {
    margin: 26px auto;
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 44px;
    height: auto;
}

#logo_group span {
    font-size: 16.5pt;
    margin: auto 0;
}

#logo_group {
    display: flex;
    justify-content: space-between;
    width: 234px;
    align-items: center;
}

#logo_group span,
footer span {
    font-weight: 400 !important;
}

nav button,
footer span {
    font-size: 13.5pt;
}

#buttons_group {
    width: 341px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    text-align: center;
    padding: 12px 24px 12px 24px;
    border-radius: 16px;
}

#btn_contact {
    border: 2px solid #272727;
    max-width: 161px;
}

#btn_shop {
    background-color: #194def;
    color: #fff;
    display: flex;
    gap: 10px;
    max-width: 168px;
    align-items: center;
}

.icon_shop {
    width: 18px;
    height: 21px;
}

footer,
#main_right_banner {
    background-color: #e2e5f1;
}

footer {
    padding: 44px 40px 44px 40px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    margin: 0 auto;
}

main {
    margin-top: 52px;
    max-width: 87.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#main_title {
    text-align: end;
    max-width: 756px;
}

#main_title h1 {
    font-size: 55.5pt;
    margin: 0;
}

#main_sub_title {
    display: flex;
    justify-content: space-between;
    color: #1d51f5;
}

#processor {
    max-width: 115px;
    max-height: 103px;
}

#banners {
    display: flex;
    gap: 20px;
    width: 1400px;
}

.banner {
    border-radius: 24px;
}

.banner p {
    font-size: 13.5pt;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
}

#main_left_banner {
    width: 540px;
    padding: 60px;
    background-color: #272727;
    background-image: linear-gradient(
        90deg,
        rgba(127, 127, 127, 0.2) 20%,
        rgba(47, 47, 47, 0.2) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
    color: #fff;
}

#visit_shop_group {
    display: flex;
    justify-content: space-between;
}

#visit_group_headline {
    display: flex;
    align-items: center;
    width: 307px;
    gap: 10px;
}

#shop_rounded {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visit_group_headline p {
    width: 219px;
    line-height: 36px;
    font-size: 18pt;
}

#main_button_greyed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 48px;
    padding: 16px 34px 16px 34px;
    background-color: #373737;
    transition: background-color 0.75s ease-out 100ms;
}

#main_button_greyed:hover {
    background-color: #fff;
}
#main_button_greyed:hover #svg_chevron_right {
    fill: #272727;
}
#white_chevron_right {
    width: 6.55px;
    height: 11.15px;
}

#svg_chevron_right {
    transition: fill 0.75s ease-out 100ms;
}

#main_right_banner {
    width: 642px;
    height: 462px;
    padding: 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner_pc {
    width: 440px;
    height: 473px;
    position: absolute;
    top: 37px;
    left: 200px;
}

.banner_star {
    width: 22px;
    height: 22px;
}

#rating .inter {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

#rating_average {
    font-weight: 400;
    font-size: 64px;
    line-height: 81.47px;
    color: #272727;
}

#reviews {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 32px;
    width: 302px;
    height: 84px;
    border-radius: 24px;
    background-color: #fff;
}

#reviews_number {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #272727;
}

#satisfied_customers_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

#reviews_number_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#reviews_link {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}

#reviews_link p {
    font-weight: 700;
    font-size: 18px;
    color: #194def;
}

#reviews_link_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 125px;
    padding: 0;
}

#reviews_link_chevron #svg_chevron_right {
    fill: #194def;
}

#reviews_link_chevron {
    width: 24px;
    height: 24px;
    border-radius: 48px;
    border: 2px solid #194def;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services {
    width: 1265px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 190px;
}

#services h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 81.47px;
    margin-top: 0;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
}

#service_container {
    display: flex;
    justify-content: space-between;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 333px;
    width: 335px;
}

.service h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.service p {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
}

.service h3,
.service p {
    margin: 0;
}

#service_computer {
    width: 110.77px;
    height: 120px;
}

#service_power {
    width: 171px;
    height: 120px;
}

#service_gear {
    width: 120px;
    height: 120px;
}

#services_links {
    width: 1400px;
    height: 272px;
    padding: 98px;
    border-radius: 24px;
    position: relative;
    background-color: #3c3c3c;
    background-image: linear-gradient(
        90deg,
        rgba(127, 127, 127, 0.2) 20%,
        rgba(47, 47, 51, 0.2) 100%
    );
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#services_links h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 45.83px;
    color: #fff;
    text-transform: uppercase;
}

#services_links div {
    width: 388px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#services_links_computer {
    width: auto;
    height: 422px;
    margin-top: -38px;
}

#services_links span {
    background-color: #1d51f5;
    width: 182px;
    height: 32px;
    padding: 12px 44px 12px 44px;
    border-radius: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
}

#services_links a {
    text-decoration: none;
}

#contact_container {
    width: 520px;
    margin-left: 120px;
}

#contact_container h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 81.47px;
    margin-top: 45px;
    margin-bottom: 32px;
}

.contact_info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 24px;
}

.contact_info p {
    margin: 0;
}

#call_icon {
    width: 18px;
    height: 18px;
}

#contact_container span {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_info p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

#map {
    margin-left: 120px;
    width: 690px;
    height: 389px;
    margin-top: 29px;
}
